

<div style="display:inline-block; padding-bottom:20px; padding-top: 10px;">
	<div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
		<a class="btn btn-primary btn-large" style="margin-left:5px;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-june-lexington-tickets-41024780222" target="_blank">June 4th - 7th &raquo;</a>
	</div>

	<div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
		<a class="btn btn-primary btn-large" style="margin-left:5px;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-june-lexington-tickets-41024953741" target="_blank">June 18th - 21st &raquo;</a>
	</div>

	<div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
		<a class="btn btn-primary btn-large" style="margin-left:5px;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-july-lexington-tickets-41025135284" target="_blank">July 9th - 12th &raquo;</a>
	</div>

	<div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
		<a class="btn btn-primary btn-large" style="margin-left:5px;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-july-lexington-tickets-41025258653" target="_blank">July 23rd - 26th &raquo;</a>
	</div>
</div>
